@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-start {
  display: flex;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.menu li {
  padding: 0.5rem;
}

.dropdown:hover .menu {
  display: block;
}

.calendar_image{
  width: 200%; 
  max-width: 200px; 
  max-height: 300px;
  overflow: hidden; 
}

body {
  margin: 0; 
}

.main-content {
  padding-top: 175px; 
}

.block0{
  padding-top: 0px;
}
.block1{
  padding-top:  100px; 

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.block2{
  padding-top:  50px; 
}

.footer {
  height: 230px;
}

.dropdown {
  margin: auto;
}

.slogan {
  width: 500%;
  margin-left: 10%;
  font-family: "Lucida Handwriting", cursive;
  font-size: 250%;
  position:relative;
  top: 50px;
}